@media screen and (max-width: 1300px)
  .specials
    margin-bottom: -25px
    &-item
      width: 50%
      margin-bottom: 25px
      &__container
        height: 150px
  .item
    &-btn
      &--border
        font-size: 0
        color: transparent
        background: url(../images/icons.svg#click) no-repeat center
        background-size: 20px 20px
        order: 10
        margin: 0 0 0 10px
        width: 40px
        flex-grow: 0
        &:hover
          background: url(../images/icons.svg#click-hover) no-repeat center, #2CCC59
          background-size: 20px 20px
  .single
    &-fixed
      &__wrapper
        height: 60px
      &__title
        margin: 0 10px
        font-size: 14px
        line-height: 18px
      &__phones
        display: none
      &__btn
        margin: 0 0 0 10px
        height: 39px
        width: 120px
      &__price
        &_current
          font-size: 18px
          white-space: nowrap
        &_old
          white-space: nowrap
  .catalog
    &-item
      &.line        
        .catalog-item__block1
          width: calc(100% - 271px)
        .catalog-item__block2
          width: 270px
          padding-left: 15px
          flex-shrink: 0
        .catalog-item__content
          justify-content: space-between
        .catalog-item__block1_flex
          flex-wrap: wrap
          justify-content: flex-start
        .catalog-item__colors
          margin-right: 10px
        .catalog-item__drop_container
          margin: 0 0 13px 0

@media screen and (max-width: 1170px)
  .header
    &-bottom
      &__grafik, &__address
        display: none
    &-top
      &__menu_item
        margin-left: 10px
    &-menu
      &__item
        a
          height: 45px
          font-size: 16px
  .banner
    .wrapper
      padding: 0
    &-slider
      border-radius: 0
      margin: 0 -5px
  .subscribe
    background: none
    margin: 70px 0
    .wrapper
      padding: 0
    &-wrapper
      padding: 0
      display: flex
      justify-content: center
      flex-wrap: wrap
    &-content
      width: 100%
      max-width: 100%
      padding: 30px 15px
      background: #F6F6F9
    &-img
      position: static
      display: block
      margin: 0 auto
      width: 540px
    &-form
      max-width: 615px
  .category
    &__item
      width: 25%
      margin-bottom: 25px
    &__list
      margin-bottom: -25px
  .brands-page 
    .brand
        width: 25%
  .cart
    &-item
      padding: 15px
      flex-wrap: wrap
      &__img
        width: 140px
        margin-right: 15px
      &__content
        flex-wrap: wrap
        width: calc(100% - 165px)
      &__title
        width: 100%
        max-width: 100%
        &_text
          margin: 0
      &__count
        .cart-item__title_caption
          display: none
      &__price
        .cart-item__title_caption
          display: none
      &__footer
        position: static
        width: 100%
        margin-top: 20px
  .single
    &-preim
      &__container
        overflow: hidden
        overflow-x: scroll
      &__item
        width: 280px
        flex-shrink: 0
    &-slider
      &__nav, &__nav_item_container
        height: 100px
    &-meta
      &__btn
        &-one-click
          width: 100%
          margin: 0 0 15px
        &-rassrochka
          width: 100%
    &-tabs
      &__btn
        margin-right: 30px
        &s
          overflow: hidden
          overflow-x: scroll
          padding-bottom: 15px
          &_container
            height: 33px
            overflow: hidden
            border-bottom: 1px solid #EBEBF0
  .main
    &-title
      display: block
      &__text
        margin-bottom: 20px
  .checkout
    &-form
      flex-wrap: wrap
      justify-content: flex-end
    &-slider
      width: 100%
      margin-bottom: 25px
  .catalog
    &-container
      display: block
      position: relative
    &-filter
      position: fixed
      z-index: 90
      background: #ffffff
      top: 0
      right: 0
      width: 100%
      max-width: 400px
      margin: 0
      border: none
      border-radius: 0
      padding: 0
      opacity: 0
      visibility: hidden
      transition: .2s
      &-open__btn
        display: block
        width: 33px
        height: 33px
        background: url(../images/icons.svg#sliders) no-repeat center
        background-size: contain
      &.active
        opacity: 1
        visibility: visible
      &__form
        padding: 50px 25px 25px
        height: 100vh
        overflow-y: auto
        &::after
          display: block
          height: 25px
          content: ''
      &__header
        display: block
        position: absolute
        z-index: 2
        top: 0
        left: 0
        width: 100%
        height: 40px
        background: #fff
        padding: 0 25px
        display: flex
        align-items: center
        border-bottom: 1px solid #EBEBF0
        span
          font-size: 18px
          font-weight: 500
      &__close
        position: absolute
        width: 24px
        height: 24px
        border-radius: 100%
        top: 8px
        right: 25px
        transform: rotate(45deg)
        &::before
          position: absolute
          content: ''
          top: 0
          height: 100%
          left: 11px
          background: #000000
          border-radius: 2px
          width: 2px
        &::after
          position: absolute
          content: ''
          left: 0
          width: 100%
          top: 11px
          background: #000000
          border-radius: 2px
          height: 2px
      &::before
        position: absolute
        content: ''
        width: 100vw
        height: 100%
        top: 0
        right: 100%
        background: #000
        opacity: 0.6
    &-content
      width: 100%
      &__structure
        &--mobile
          display: block
          width: 29px
          height: 29px
          margin-left: 15px
          background: url(../images/icons.svg#line) no-repeat center
          background-size: contain
          &.line
            background: url(../images/icons.svg#square) no-repeat center
            background-size: contain
        &_item
          display: none
  .selected-item
    width: 33.333%      
  .reviews
    &-labels
      display: block 
    &-page
      &__title
        margin: 0
        &_container
          display: flex
          align-items: center
          justify-content: space-between
      &__btn-set
        display: flex
  .compare-table__th_title,
  .compare-table__row_td:first-child
    width: 200px
    min-width: 200px
  .compare-container
    overflow-x: auto
    width: 100%
  .compare-item,
  .compare-table__row_td
    min-width: 185px




@media screen and (max-width: 980px)
  .header
    &-top
      display: none
    &-search, &-bottom__phones
      margin: 0 15px
    &-bottom
      padding: 0
      &__wrapper
        position: relative
        padding: 15px 0
        background: #ffffff
        z-index: 11
    &-butter
      position: relative
      display: block
      width: 22px
      height: 16px
      flex-shrink: 0
      margin-right: 20px
      cursor: pointer
      &.active
        transform: rotate(45deg)
        i
          opacity: 0
        &::before
          top: 7px
        &::after
          transform: rotate(-90deg)
          transform-origin: 0 5px
          left: 15px
      i, &::before, &::after
        position: absolute
        content: ''
        height: 2px
        width: 100%
        left: 0
        top: 7px
        background: #181A34
        border-radius: 2px
        transition: .2s
      &::before
        top: 0
      &::after
        top: 14px
    &-menu
      display: none
      &--mobile
        padding: 78px 15px 15px
        display: none
        position: absolute
        z-index: 10
        top: 0  
        left: 0
        width: 100%
        height: 100vh
        overflow-y: auto
        background: #fff
        &__list
          display: flex
          flex-wrap: wrap
          align-content: flex-start
        &__item
          display: block
          width: 33.333%
          text-align: center
          margin-bottom: 25px
          font-weight: normal
          font-size: 18px
          line-height: 26px
          color: #525E6A
          &:hover
            font-weight: 500
          img
            display: block
            height: 80px
            margin: 0 auto 15px
  .slider-container
    border: 1px solid #EBEBF0
    border-right: none
    border-bottom: none
    margin: 0 -15px
    padding-bottom: 35px
  .item
    padding: 0
    height: auto
    border-right: 1px solid #EBEBF0
    border-bottom: 1px solid #EBEBF0
    &-container
      border: none
  .item3
    height: auto
  .news-container
    padding-bottom: 35px
  .review
    &-col
      width: 100%
  .footer
    &-block
      &--menu
        display: none 
  .main
    margin: 0
  .breadcrumbs
    margin-bottom: 15px
  .single
    &__artikul, &-socials
      display: none
    &-top
      display: block
    &-sliders, &-meta
      width: 100%
      margin: 0 auto
      max-width: 500px
    &-popup
      .wrapper
        padding: 0
      &__title
        font-size: 24px
        line-height: 28px
        margin-bottom: 15px
      &__img
        margin: 15px 0
  .popup
    &-block
      padding: 20px
    &-close
      width: 30px
      height: 30px
      top: 10px
      right: 10px
      &::before
        width: 20px
        left: 5px
        top: 14px
      &::after
        top: 5px
        left: 14px
        height: 20px
  .catalog
    margin-top: 15px
    &-container
      margin: 0
    .category__list
      display: none
    &-item
      width: 50%
      &.line
        .catalog-item__container
          padding: 15px 15px 0 0
        .catalog-item__img
          width: 150px
          margin-right: 15px
  .thanks
    &-top
      flex-wrap: wrap
      &__img
        width: 100%
        max-width: 400px
        order: -1
        margin: 0 auto 35px
        img
          display: block
          width: 100%
          height: auto
          position: static
      &__content
        padding: 0
    &-table
      margin-top: 40px
      &__item
        padding: 15px 15px 15px 0
        &_img
          width: 150px
          height: 120px
          margin: 0
        &_block
          margin-left: 25px
  .selected
    &-container
      border-top: 1px solid #EBEBF0
      border-left: 1px solid #EBEBF0
      margin: 0 -15px
    &-item
      margin: 0


@media screen and (max-width: 768px)
  .header
    &-bottom
      &__wrapper
        flex-wrap: wrap
        justify-content: space-between
      &__phones
        display: none
      &__btn
        height: 34px
        width: 137px
    &-menu--mobile
      padding-top: 114px
      &__item
        width: 50%
    &-search
      order: 10
      width: 100%
      margin: 14px 0 0
      &__input
        height: 34px
        padding: 0 12px
      &__submit
        height: 34px
  .logo
    flex-grow: 2
    margin-right: 10px
    &__img
      width: 145px
      height: 36px
  .section
    margin: 40px 0
    &__title
      margin-bottom: 15px
      justify-content: space-between
      &_text, &_link
        margin-bottom: 10px
        margin-left: 0
        padding: 0
      &_text
        margin-right: 20px
  .specials
    display: none
  .popular-container
    margin: 0 -8px
  .item2
    width: 50%
    padding: 0 8px 15px
    &-container
      height: 140px
      padding: 5px 5px 12px
    &-img
      height: 100px
      margin: 0
    &-title
      font-size: 16px
      line-height: 23px
  .item3
    &-btn
      width: 100%
  .news
    &-label
      flex-shrink: 0
      margin: 0 5px
      &s
        position: relative
        padding: 0 10px 20px
        flex-wrap: nowrap
        overflow: hidden
        overflow-x: auto
        margin: 0
        &__container
          margin: 15px -15px 5px
          height: 40px
          overflow: hidden
          margin-bottom: 25px
  .faq
    &-list
      margin-top: -20px
      border: none
      padding: 0
    &-item
      padding: 20px 0
  .review
    margin-bottom: 40px
    &s
      .section__title_link
        display: none
      &-container
        max-height: 100000px
        &::after
          display: none
      &-btn--all
        display: flex
        align-items: center
        justify-content: center
        margin: 0 auto
        max-width: 350px
        width: 100%
        height: 40px
        border: 1px solid #525E6A
        box-sizing: border-box
        border-radius: 3px
        font-weight: 500
        font-size: 16px
        line-height: 23px
        text-align: center
        color: #525E6A
    &-date
      &--mobile
        display: block
      &--desktop
        display: none
    &-content
      padding: 0
      &__title
        display: block
        margin: 10px 0
      &.active 
        max-height: 300px
        overflow: hidden
        position: relative
        .review-content__more
          position: absolute
          display: block
          bottom: 0
          left: 0
          width: 100%
          height: 60px
          padding-top: 35px
          background: linear-gradient(to top, #fff 40px, rgba(255, 255, 255, 0))
          &_text
            font-weight: 500
            font-size: 16px
            line-height: 23px
            color: #181A34
    &-images
      display: none
    &-link
      margin-bottom: 15px
      order: 10
      &__container
        display: flex
        align-items: center
        flex-wrap: wrap
        margin-left: -5px
        .rating
          margin-bottom: 15px
          margin-right: 25px
  .brand
    margin-bottom: 25px
    &__wrapper
      padding: 0 8px
    &-img
      width: 100%
      object-fit: contain
  .address
    margin: 40px 0 0
    &-content
      display: block
      padding: 0
    &-map
      margin: 0 -15px
      position: static
      width: auto
      height: 460px
      border-radius: 0
    &-plash
      width: 100%
      padding: 0 0 25px
      &__title
        margin-bottom: 15px
      &__text, &__phones, &__email
        margin-bottom: 25px
  .page404
    &-img 
      img
        margin-bottom: 20px
      &__text
        font-size: 18px
        line-height: 26px
    &-catalog
      &__title
        font-size: 20px
        line-height: 29px
        margin-bottom: 25px
  .category
    &__item
      width: 50%
  .brands-page 
    .brand
      width: 50%
    .brands-container
      margin-bottom: -25px
  .cart
    padding: 20px 0 30px
    &-form
      display: block
      margin: 0 -15px
    &-item
      border-radius: 0
      &__img
        height: auto
        img
          height: auto
      &__title
        &_text
          font-size: 16px
          line-height: 23px
      &__price
        &_text
          font-size: 16px
          line-height: 28px
      &__footer
        &_btn
          margin-right: 25px
    &-aside
      width: auto
      margin: 0 15px
    &-result
      margin: 0 -15px 20px
  .main
    &-title
      margin-bottom: 20px
  .single
    &-fixed
      &__title
        display: none
      &__price
        justify-content: flex-end
        flex-grow: 2
    &-top
      &--mobile
        display: flex
        &__rating
          margin-bottom: 20px
          span
            padding-left: 10px
            font-weight: normal
            font-size: 14px
            line-height: 20px
            color: #525E6A
    &-slider
      &__for
        height: 340px
        padding-bottom: 60px
        margin-bottom: 15px
        &_item_container
          height: 280px
      &__nav
        height: 80px
        &_item
          padding: 0 5px
          &_container
            height: 80px
    &-labels
      bottom: 0
      left: 0
      top: auto
      right: auto
      flex-direction: row
      flex-wrap: wrap
      max-width: 240px
      .item-label
        margin: 10px 10px 0 0
    &-meta
      &__pay
        width: 100%
        &--mobile
          display: flex
          justify-content: flex-start
          margin: 25px 0 35px
        .single-meta__status, .rating
          display: none
      &__flex
        display: block
      &__set
        width: 100%
        padding: 0
        margin-bottom: 25px
      &__btn
        &-rassrochka
          height: 40px
          border: 1px solid #FF2727
          color: #FF2727
        &s
          .single-meta__btn-wish, .single-meta__btn-sravnenie
            display: none
      &__delivery
        padding: 0
    &-tab
      &__container
        display: none
      &__read-more
        margin-top: -10px
        display: block
        font-weight: 500
        font-size: 16px
        line-height: 23px
        color: #181A34
        span:nth-child(2)
          display: none
        &.active
          span:nth-child(2)
            display: block
          span:nth-child(1)
            display: none
      &__list
        flex-wrap: nowrap
        &_container
          overflow: hidden
          overflow-x: scroll
        &_item
          width: 250px
          padding: 0 8px
          flex-shrink: 0
          &_img
            height: 200px
    &-how
      &__img
        display: block
        max-width: 100%
        height: auto
    &-popup
      table
        th, td
          padding: 5px 10px
          font-size: 14px
  .checkout
    &-form
      margin: 0 -15px
      width: auto
    &-slide
      padding: 0
      &__prev
        white-space: nowrap
      &__title
        display: none
      &r
        padding: 20px 15px
      &__flex
        display: block
        max-width: 400px
        margin: 0 auto
        &_item
          width: 100%
          padding: 10px
          margin-bottom: 10px
          &_top
            display: flex
            align-items: center
            justify-content: center
          &_img
            margin: 0 10px 0 0
            width: 40px
            height: 40px
          &_title
            margin: 0
            text-align: left
    .cart-aside
      margin: 0 auto
    &-personal
      &__form
        max-width: 400px
        margin: 0 auto
      &__input
        width: 100%
        margin-bottom: 15px
      &__btn
        width: 100%
    &-check
      margin: 15px
      width: 100%
  .catalog
    &-item
      &__status
        display: none
      &__img
        height: 190px
        padding: 15px 0
      &__label
        &-full
          display: none
        &s
          .item-label
            margin: 0 5px 5px 0
            font-size: 12px
            line-height: 17px
            padding: 1px 10px
            display: none
            &--new
              display: block
      &__title
        font-size: 14px
        margin-bottom: 10px
        line-height: 20px
      &__rating
        margin-bottom: 10px
        flex-wrap: wrap
        .rating-star
          width: 12px
          height: 12px
          margin: 0 5px 5px 0
        span
          margin-left: 3px
          margin-bottom: 5px
          font-size: 12px
          line-height: 17px
      &__colors
        .single-meta__color
          width: 24px
          height: 24px
          margin-right: 0 8px 8px 0
          i
            width: 16px
            height: 16px
      .single-meta__color-block_title
        font-size: 12px
        line-height: 17px
        margin-bottom: 5px
      &__drop
        max-width: 100%
        margin-bottom: 20px
        &_container
          .single-meta__color-block_title
            display: block
          .single-meta__drop_current,
          .single-meta__drop_list li
            font-size: 12px
            line-height: 17px
            padding: 0 10px
            height: 36px
            display: flex
            align-items: center
      &__price
        &_current
          font-size: 16px
          line-height: 23px
        &_old
          font-size: 14px
      &__btn
        &-one
          width: 40px
          height: 36px
          margin-left: 10px
        &-cart
          width: calc(100% - 51px)
          height: 36px
          font-size: 14px
        &-wish, &-sravnenie
          margin-top: 15px
          border: none
          width: 20px
          height: 20px
          margin-right: 10px
          background-size: contain
        &s
          justify-content: flex-start
          flex-wrap: wrap
      &.line
        .single-meta__color
          width: 24px
          height: 24px
          i
            width: 16px
            height: 16px
        .catalog-item__btn-one 
          width: 40px
          height: 36px
          margin-left: 10px
          background: url(../images/icons.svg#click) no-repeat center
          background-size: auto
          -webkit-background-size: 24px 24px
          background-size: 24px 24px
          span
            display: none
        .catalog-item__price_current
          font-size: 16px
          line-height: 23px
          margin-bottom: 10px
        .catalog-item__price_old
          margin-bottom: 10px
        .catalog-item__block1,
        .catalog-item__block2
          width: 100%
          padding: 0 0 15px
        .catalog-item__block1_flex
          display: block
    &-content
      &__list
        margin: 0 -15px
  .thanks
    &-top
      &__title
        margin-bottom: 5px
      &__order-num
        font-size: 20px
    &-table
      margin: 40px -15px 0
      &__title
        display: none
      &__container
        border-radius: 0
      &__result
        padding: 25px 15px
        font-size: 18px
        line-height: 26px
        text-align: center
      &__item
        &_content
          flex-wrap: wrap
        &_block
          margin: 0
          &-title
            width: 100%
            margin: 0 0 25px 0
  .selected
    &-item
      width: 50%
  .review-page
    &-content__title
      width: 100%
      margin-bottom: 10px
    .review-rating
      margin: 0 25px 10px 0
    .review-link
      margin-bottom: 10px
  .podbor
    margin-bottom: 40px
    &__item
      position: relative
      display: block
      margin-bottom: 15px
      border: 1px solid #525E6A
      box-sizing: border-box
      border-radius: 3px
      padding: 0
      width: 100%
      max-width: 400px
      &.active
        border-radius: 3px 3px 0 0
        .podbor__item_title::after
          transform: rotate(180deg)
      &_list
        position: absolute
        z-index: 10
        left: -1px
        right: -1px
        display: none
        background: #ffffff
        border-radius: 0 0 3px 3px
        border: 1px solid #525E6A
      &_title
        position: relative
        display: flex
        align-items: center
        height: 37px
        padding: 0 15px
        margin: 0
        font-weight: 500
        font-size: 16px
        line-height: 23px
        color: #525E6A
        width: 100%
        max-width: 400px
        &::after
          position: absolute
          top: 13px
          right: 14px
          content: ''
          width: 12px
          height: 12px
          background: url(../images/icons.svg#caretdown) no-repeat center
          background-size: contain
          transition: .2s
      &_btn
        span
          width: 100%
  .instruction
    &-filter
      margin: 5px 0 25px
      border: none
      padding: 0
      display: block
      width: 100%
      max-width: 400px
      &__item
        position: relative
        display: block
        margin-bottom: 15px
        border: 1px solid #525E6A
        box-sizing: border-box
        border-radius: 3px
        padding: 0
        &.active
          border-radius: 3px 3px 0 0
          .instruction-filter__item_title::after
            transform: rotate(180deg)
        &:nth-child(n)
          border: 1px solid #525E6A
        &_title
          position: relative
          display: flex
          align-items: center
          height: 37px
          padding: 0 15px
          margin: 0
          font-weight: 500
          font-size: 16px
          line-height: 23px
          color: #525E6A
          width: 100%
          max-width: 400px
          &::after
            position: absolute
            top: 13px
            right: 14px
            content: ''
            width: 12px
            height: 12px
            background: url(../images/icons.svg#caretdown) no-repeat center
            background-size: contain
            transition: .2s
        &_list
          position: absolute
          z-index: 10
          left: -1px
          right: -1px
          display: none
          background: #ffffff
          border-radius: 0 0 3px 3px
          border: 1px solid #525E6A
        &_btn
          display: block
          margin: 0
          border-bottom: 1px solid #525E6A
          &:last-child
            border: none
          &_custom
            border: none
            margin: 0
            border-radius: 0
            height: 37px
  .popup
    &-block
      &__title
        font-size: 24px
        line-height: 1.2
        margin-bottom: 15px
      &-small
        max-height: 100vh
        overflow-y: auto
    &-input
      height: 39px
      margin-bottom: 15px
    &-city
      &__item
        font-size: 16px
        line-height: 1.2
        margin-bottom: 10px
        margin-right: 20px
    &-addcart
      &__btn
        width: 100%
        max-width: 220px
        margin: 0 auto 15px
        &s
          display: block
  .reviews
    &-form
      &__input
        width: 100%
        max-width: 100%
        margin: 0 0 20px
  .file
    &-custom
      height: 50px
      width: 50px
      margin-right: 10px
      &::before
        left: 13px
        top: 23px
      &::after
        top: 13px
        left: 24px
    input.loaded ~ .file-custom::after
      top: 11px
      left: 13px


@media screen and (max-width: 480px)
  .item
    &-container
      padding-top: 30px
    &-img
      height: 160px
    &-color
      width: 10px
      height: 10px
      margin-right: 6px
      &.active
        width: 14px
        height: 14px
      &s
        top: -14px
        left: 15px
    &-title
      font-size: 14px
      line-height: 20px
      margin: 0
    &-tth
      display: none
    &-footer
      padding-top: 20px
    &-price
      font-size: 16px
      line-height: 23px
    &-btn
      height: 36px
      flex-grow: 2
    &-label
      padding: 1px 10px
      font-size: 12px
      line-height: 17px
  .subscribe
    &-text
      margin-bottom: 25px
    &-form
      display: block
      &__submit
        width: 100%
        margin: 10px 0 0
  .footer
    &-block
      display: none
    &-bottom
      .wrapper
        padding: 0
      &__wrapper
        padding: 20px 25px 10px
        display: block
      &__text
        display: block
        margin-bottom: 10px
    &-top
      .wrapper
        padding: 0 25px
      &__wrapper
        padding: 20px 0 30px
  .single
    &-fixed
      &__price
        display: block
        text-align: right
        &_current
          margin: 0
        &_old
          display: inline-block
    &-tabs
      &__content
        table td
          padding: 5px 10px
          font-size: 14px
          height: auto
  .checkout
    &-slide
      &__footer
        display: block
      &__prev
        margin: 0 auto 15px
    &-step
      &s
        position: absolute
        left: 0
        transition: .2s
        width: 600px
        &__container
          position: relative
          overflow: hidden
          height: 30px
      &__grow
        margin: 0 15px
  .catalog
    &-item
      &.line
        .catalog-item__container
          display: block
          padding: 10px
        .catalog-item__img
          width: 100%
          margin: 0
  .thanks
    &-table
      &__item
        &_link
          font-size: 16px
          line-height: 23px
        &_block
          &:last-child
            flex-grow: 2
            text-align: right
            order: 3
          &:nth-child(2)
            order: 2
            span
              font-size: 14px
              font-weight: 400
          &:nth-child(3)
            order: 1
            span
              font-size: 14px
              font-weight: 400
            &::after
              display: inline-block
              margin: 0 5px 0 3px
              content: 'x'
          &-caption
            display: none
          &-title &-caption
            display: block
        &_text
          font-size: 16px
          line-height: 28px
  .selected
    &-filter
      margin-bottom: 15px
      &__check
        margin-bottom: 10px
        .check-text
          font-size: 14px
          line-height: 20px
      &__drop
        margin-right: 20px
        margin-bottom: 10px
        width: 100%
        max-width: 220px
        .single-meta__drop_current
          padding: 0 12px
          font-size: 14px
          line-height: 20px
    &-item
      &__btn
        font-size: 14px
        margin: 0
        height: 36px
      .btn-unwish
        width: 40px
        height: 36px
        margin-left: 10px
  .content
    table
      margin: 20px 0
      th, td
        font-size: 16px
        line-height: 20px
        padding: 10px
  .pagination
    display: none
  .reviews-show-more__btn
    display: flex
    font-size: 16px
    width: 100%
    max-width: 220px
    margin: 0 auto
  .popup
    &-addcart
      &__block
        display: block
      &__img
        width: 100%
        height: 120px
        margin: 0 0 15px 0
        display: block
        text-align: center
        img
          display: inline-block
          max-width: 100%
          max-height: 100%
          width: auto
      &__link
        font-size: 16px
        line-height: 1.2
        margin-bottom: 15px
      &__price
        text-align: center
        margin-bottom: 15px


@media screen and (max-width: 375px)
  .header
    &-butter
      margin-right: 10px
    &-bottom
      &__btn
        width: 120px
        font-size: 14px
  .logo
    &__img
      width: 120px
      height: 32px
  .thanks
    &-table
      &__item
        &_img
          width: 90px
  .reviews-page__btn-set
    width: 140px